In [7]:
import pandas as pd
import matplotlib.pyplot as plt
data_set={ 'states':['andhra pradesh','assam','bihar','chhattisgarh'],
          'male':[67.5,89.4,78.6,84],
          'female':[53.4,79.9,58.7,65.6],
          'average':[60.4,84.9,69.5,75]
        }
df=pd.DataFrame(data=data_set,index=[1,2,3,4])
df

           states  male  female  average
1  andhra pradesh  67.5    53.4     60.4
2           assam  89.4    79.9     84.9
3           bihar  78.6    58.7     69.5
4    chhattisgarh  84.0    65.6     75.0