In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1,2,3,4,5,6,np.nan,8,9,10])

In [3]:
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [8]:
d = pd.date_range('20200301', periods=10)

In [9]:
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(10,4), index=d,columns= ['A','B','C','D'])

In [11]:
df

                   A         B         C         D
2020-03-01 -0.705825  0.213189 -1.804514 -0.030356
2020-03-02  1.470608  1.784472  0.113772 -0.225873
2020-03-03  0.500471 -0.908854 -0.196543 -1.933643
2020-03-04  0.590665  0.043153 -0.116250 -0.714997
2020-03-05  0.943792  0.114686 -1.318415  1.349668
2020-03-06  0.572631  3.019062 -0.707678 -1.293207
2020-03-07  1.082759  0.592017  0.833350 -0.206111
2020-03-08 -0.204284 -0.646377 -0.072217  0.902885
2020-03-09 -1.153673  0.392253 -0.093636 -0.984171
2020-03-10  0.871896  0.019129 -0.314977  0.635686

In [18]:
df1 = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20200301'),
                   'C':pd.Series(1, index=list(range(4)), dtype='float32'),
                   'D':np.array([5]*4, dtype='int32'),
                   'E':pd.Categorical(['true','False', 'True','False']),
                   'F':'Edureka'})

In [19]:
df1

   A          B    C  D      E        F
0  1 2020-03-01  1.0  5   true  Edureka
1  2 2020-03-01  1.0  5  False  Edureka
2  3 2020-03-01  1.0  5   True  Edureka
3  4 2020-03-01  1.0  5  False  Edureka

In [20]:
df1.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [21]:
df.head()

   A          B    C  D      E        F
0  1 2020-03-01  1.0  5   true  Edureka
1  2 2020-03-01  1.0  5  False  Edureka
2  3 2020-03-01  1.0  5   True  Edureka
3  4 2020-03-01  1.0  5  False  Edureka

In [22]:
df.tail()

   A          B    C  D      E        F
0  1 2020-03-01  1.0  5   true  Edureka
1  2 2020-03-01  1.0  5  False  Edureka
2  3 2020-03-01  1.0  5   True  Edureka
3  4 2020-03-01  1.0  5  False  Edureka

In [23]:
df.index

Index([0, 1, 2, 3], dtype='int64')

In [24]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [26]:
df.to_numpy()

array([[1, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'true', 'Edureka'],
       [2, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'False', 'Edureka'],
       [3, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'True', 'Edureka'],
       [4, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'False', 'Edureka']],
      dtype=object)

In [27]:
df.describe()

              A                    B    C    D
count  4.000000                    4  4.0  4.0
mean   2.500000  2020-03-01 00:00:00  1.0  5.0
min    1.000000  2020-03-01 00:00:00  1.0  5.0
25%    1.750000  2020-03-01 00:00:00  1.0  5.0
50%    2.500000  2020-03-01 00:00:00  1.0  5.0
75%    3.250000  2020-03-01 00:00:00  1.0  5.0
max    4.000000  2020-03-01 00:00:00  1.0  5.0
std    1.290994                  NaN  0.0  0.0

In [30]:
df.sort_values(by='C')

   A          B    C  D      E        F
0  1 2020-03-01  1.0  5   true  Edureka
1  2 2020-03-01  1.0  5  False  Edureka
2  3 2020-03-01  1.0  5   True  Edureka
3  4 2020-03-01  1.0  5  False  Edureka

In [31]:
df['C']

0    1.0
1    1.0
2    1.0
3    1.0
Name: C, dtype: float32

In [33]:
df[0:6]

   A          B    C  D      E        F
0  1 2020-03-01  1.0  5   true  Edureka
1  2 2020-03-01  1.0  5  False  Edureka
2  3 2020-03-01  1.0  5   True  Edureka
3  4 2020-03-01  1.0  5  False  Edureka

In [36]:
df.loc['20200301':'20200306',['D', 'C']]

Empty DataFrame
Columns: [D, C]
Index: []

In [38]:
df.iloc[3]

A                      4
B    2020-03-01 00:00:00
C                    1.0
D                      5
E                  False
F                Edureka
Name: 3, dtype: object

In [39]:
df.iloc[3:5, 0:2]

   A          B
3  4 2020-03-01

In [41]:
df2 = df.reindex(index=d[0:4], columns=list(df.columns) + ['E'])

In [42]:
df2.loc[d[0]:d[1], 'E']= 1

TypeError: Cannot setitem on a Categorical with a new category (1), set the categories first

In [43]:
df2

             A   B   C   D    E    F    E
2020-03-01 NaN NaT NaN NaN  NaN  NaN  NaN
2020-03-02 NaN NaT NaN NaN  NaN  NaN  NaN
2020-03-03 NaN NaT NaN NaN  NaN  NaN  NaN
2020-03-04 NaN NaT NaN NaN  NaN  NaN  NaN

In [44]:
df2.dropna

<bound method DataFrame.dropna of              A   B   C   D    E    F    E
2020-03-01 NaN NaT NaN NaN  NaN  NaN  NaN
2020-03-02 NaN NaT NaN NaN  NaN  NaN  NaN
2020-03-03 NaN NaT NaN NaN  NaN  NaN  NaN
2020-03-04 NaN NaT NaN NaN  NaN  NaN  NaN>

In [ ]:
y